page-nature {
    .swiper-pagination-bullet-active{
        background: #fff;
       }
       
       
       legend {
           background-color:#bb24bb98;
           color: #fff;
           padding: 3px 6px;
           
       }
       fieldset{
           border-style: none;
           background-color: rgba(128, 128, 128, 0);
           margin-bottom: -5%;
          
       }
       fieldset:hover{
           background-color:#bb24bb5d;
       }
       .output {
           font: 1rem 'Fira Sans', sans-serif;
       }
       
       
       input {
           margin: .4rem;
       }
       
       .background
       {
           background-image: url('../../assets/imgs/b.jpg');
           margin: 0;
           background-repeat: no-repeat;
           background-size: cover;
           margin-left: auto;
           margin-right: auto;
           display: block;
           color: white;
       }
       
       .t{
          
           border-style: none;
           background-color: rgba(128, 128, 128, 0.678);
           color: black;
           text-decoration-color: #fff;
           
       }
       .h{
           color: #fff;
       }

    }