page-home {

    .background
{
    background-image: url('../../assets/imgs/b.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    width: 350px;
    height: 300px;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.im{

    margin: 0;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(255, 255, 0, 0.692);
    font-size: 1.5em;
    
}

.im:hover{
    background-color: rgb(216, 85, 188);
    opacity: 0.6;
    border-radius:20px;
   
}
}

