page-home {

}

.background
{
    background-image: url('../../assets/imgs/b.jpg');
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.img{
    width: 350px;
    height: 300px;
    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.im{

    margin: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 200px;
}

.im:hover{
    background-color: purple;
    opacity: 0.6;
    border-radius: 40%;
   
}